<div class="container">
  <div class="row g-4">

    <!-- Cidade -->
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <img src="img/cidade.jpg" class="img-fluid mb-3 img-card" alt="Cidade">
          <h5 class="card-title">Bangkok</h5>
          <p class="card-text">A cidade que nunca dorme na Ásia.</p>
        </div>
      </div>
    </div>

    <!-- Montanha -->
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <img src="img/montanha.jpg" class="img-fluid mb-3 img-card" alt="Montanha">
          <h5 class="card-title">Monte Fuji</h5>
          <p class="card-text">Onde a natureza toca o céu.</p>
        </div>
      </div>
    </div>

    <!-- Praia -->
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <img src="img/praia.jpg" class="img-fluid mb-3 img-card" alt="Praia">
          <h5 class="card-title">Maya Beach</h5>
          <p class="card-text">Um paraíso escondido no mar.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
